    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Amazing features, Simple to use</h2>
                        <p class="text-muted">Check out what you can do with Moneysage!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div id="msage_demo" class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/001-msage-demo.png" class="img-responsive" alt=""> </div>

                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <!--i class="icon-screen-smartphone text-primary"></i-->
                                    <h3>Funds Library</h3>
                                    <p class="text-muted">Easy to use funds library, updated everyday!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <!--i class="icon-camera text-primary"></i-->
                                    <h3>PnL Notifications</h3>
                                    <p class="text-muted">Keep a close watch on your portfolio with our  daily price updates and profit or loss notifications!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <!--i class="icon-present text-primary"></i-->
                                    <h3>Free to use</h3>
                                    <p class="text-muted">Moneysage is free to use. Paid version allows you to add unlimited funds to your portfolio.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                    <div class="feature-item">
                                        <!--i class="icon-present text-primary"></i-->
                                        <h3>New Fund Offers</h3>
                                        <p class="text-muted">Get up-to-date information about new fund offers.</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
